#container {
  background:url("103945.jpg") no-repeat center top;
}
#container{
  width: 1200px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
#head{
  display: flex;
  background-color: red;
}
.logo{
  width: 600px;
  padding: 10px;
  overflow: auto
}
.banner  {
  width: 600px;
  padding: 80px 0;
  font-size: 4rem;
  color: yellow;
  text-align: center;
}
.banner>p {
  font-size: 2rem;
}

/*phần navigation bar*/
#navbar{

  padding: 5px;
}
.list > ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  font-size: 30px;
  background-color: #333;
  position: fixed;
  top :0;
  width: 1170px
;
}

li {
  position: sticky;
  float: left;
}

li a {

  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: red;
  text-align: center;
  color: yellow ;
}

/* Thân trang*/
#wrap{

}
.split{
  display:flex;
  flex-wrap:wrap;

}
.info1{
  flex:50%;
  border:2px #999999;
  text-align: center;
  padding: 3px 0;
  font-size: 20px;
}
.info12{
  flex:50%;
  border:2px #999999;
  font-size: 20px;
}
#wrapper1 , #wrapper2 , #wrapper3, #wrapper4  {
  background-color: white;
  width: auto;
  height: 320px;
}
.content1, .content2, .content3, .content4 {
  text-align: center;
  padding: 5px 0;
  font-size: 25px;
}
.info2 , .info3 , .info4 {
  border:2px #999999;
  text-align: center;
  padding: 3px 0;
  font-size: 20px;
}
.info1:hover ,.info12:hover ,.info2:hover , .info3:hover , .info4:hover {
  background-color: red;
  color: yellow;
}

#contact {
  background-color:#333;
  text-align:left;
  color:white;
  padding:30px;
  height: 200px;
}
